<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Minhas Consultas</ion-title>
      <ion-button (click)="voltarLogin()" >Voltar</ion-button>
    </ion-toolbar>
  </ion-header>
  <div class="container2">
  <ion-card >
    <ion-card-header>
      <ion-card-title>Consulta Veterinaria</ion-card-title>
      <ion-card-subtitle>data marcada e Hora: 20/07/2024 12:00</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        complemento: ....
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Consulta Veterinaria </ion-card-title>
      <ion-card-subtitle>data marcada e Hora: 20/07/2024 12:00</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        complemento: ....
    </ion-card-content>
  </ion-card>
</div>